.active-nav-button {
  background-color: #005bac !important; /* Samurai Blue как акцент */
  color: #ffffff !important; /* Белый текст для контраста */
  transition: all 0.3s ease; /* Плавная анимация */
}

.active-nav-button img {
  filter: brightness(0) invert(1) !important; /* Инверсия иконки */
}

button:active {
  transform: scale(0.95);
}
